/* Styling for the Wishlist page title */
.title-wishlist {
  margin: 20px 0 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* Wishlist container with grid layout */
#wishlist-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
  margin: 0 30px 60px 30px;
  margin-bottom: 80px;
}

/* Styling for the buttons in the wishlist items */
.book-btn-wishlist {
  position: absolute;
  bottom: 25px;
}

.book-btn-wishlist .more-details-button {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 12px;
  background-color: #5b5d5f;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.book-btn-wishlist .more-details-button:hover {
  border: 0;
  color: black;
  background-color: white;
}

.empty-wishlist{
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 800;
}



/* For mobile devices */
@media (max-width: 480px) {
  /* Adjust the grid to show 1 column instead of 2 */
  #wishlist-container {
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin: 0 10px 30px 10px;
  }

  /* Further adjust font size for the title */
  .title-wishlist {
    font-size: 18px;
    margin: 20px 0 20px;
  }

  /* Adjust the button size */
  .book-btn-wishlist .more-details-button {
    padding: 5px 8px;
    font-size: 12px;
  }
}
